<div class="top-links">
    <a data-attr-t data-attr-t-interpolate href-t="/{{surroundWithCurlyBraces "global.addToUrl"}}#sect_portfolio" data-t>projects.backLabel</a>
    {{>partials/langBtn project=project}}
</div>
<div class="project_header">
    <h1><span class="tilted_bg"><span class="bg" data-t>{{project.title}}</span></span></h1>
    <p><span data-t>projects.builtIn</span> {{project.year}}</p>
    <div class="links">
        {{#if project.visit}}
            <a href="{{project.visit}}" target="blank">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 61.02 61.02"><path d="M30.51,20.29a10.22,10.22,0,0,0,0,20.44h0a10.22,10.22,0,0,0,0-20.44Zm6.48,11a6.53,6.53,0,1,1-13-1.54,5,5,0,0,0,7.38-5.69A6.52,6.52,0,0,1,37,31.28Z"/><path d="M30.51,0A30.51,30.51,0,1,0,61,30.51,30.51,30.51,0,0,0,30.51,0ZM51,31.56c-2.27,2.93-10.45,12.51-20.53,12.51S12.25,34.49,10,31.56a1.71,1.71,0,0,1,0-2.1C12.25,26.53,20.43,17,30.51,17S48.77,26.53,51,29.46A1.71,1.71,0,0,1,51,31.56Z"/></svg>
                <span>{{project.visit}}</span>
            </a>
        {{/if}}
        {{#if project.source}}
            <a href="{{project.source}}" target="blank">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32.58 31.77"><path class="cls-1" d="M16.29,0a16.29,16.29,0,0,0-5.15,31.75c.82.15,1.11-.36,1.11-.79s0-1.41,0-2.77C7.7,29.18,6.74,26,6.74,26a4.36,4.36,0,0,0-1.81-2.39c-1.47-1,.12-1,.12-1a3.43,3.43,0,0,1,2.49,1.68,3.48,3.48,0,0,0,4.74,1.36,3.46,3.46,0,0,1,1-2.18c-3.62-.41-7.42-1.81-7.42-8a6.3,6.3,0,0,1,1.67-4.37,5.94,5.94,0,0,1,.16-4.31s1.37-.44,4.48,1.67a15.41,15.41,0,0,1,8.16,0c3.11-2.11,4.47-1.67,4.47-1.67A5.91,5.91,0,0,1,25,11.07a6.3,6.3,0,0,1,1.67,4.37c0,6.26-3.81,7.63-7.44,8a3.85,3.85,0,0,1,1.11,3c0,2.18,0,3.94,0,4.47s.29.94,1.12.78A16.29,16.29,0,0,0,16.29,0Z"/></svg>
                <span>GitHub</span>
            </a>
        {{/if}}
    </div>
    <div class="tags">
        {{#each (commaSplit project.full-tags)}}
            <span class="tag {{flattenString this}}">{{this}}</span>
        {{/each}}
    </div>
</div>